extends ../layouts/main-layout.pug

block  content
 
  .container.mt-5
    if product
      .row.justify-content-center
        .col-md-6
          .card.shadow-lg.rounded-3
            img.card-img-top(src=`/img/${product.imgUrl}`, alt=product.name)
            .card-body
              h3.card-title.text-primary.mb-3= product.name
              h5.text-muted.mb-3 $#{product.price}
              p.card-text.mb-4= product.description
              a.btn.btn-secondary.ms-2(href='/products') Back to Products
    else
      .alert.alert-danger.text-center.mt-5 Product not found.
